.App {
    width: 100%;
    min-height: 100vh;
    background-color: #131414;
    /* background-color: #080f0d; */
    /* background-color: #1b2522; */
    /* background-color: #cedfda; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* font-size: calc(10px + 2vmin); */
    color: #e0f5f1;
    box-sizing: border-box;
}

/* .App-logo {
    height: 40vmin;
    pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
} */

/* @keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */
